@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 2
   
   Style Sheet for Costume Expressions Front Page
   Author: Tehe Leonard Wilfred Guei
   Date:   11/07/2020
   
   Filename: ce_styles.css
*/


/* Window and Body Styles */
body {
    background-color: rgb(101, 101, 101);

}

body a {
    background-color: white;
    font-family: Verdana, Arial, Tahoma, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 960px;
    min-width: 320px;

}

body,image {
    display: block;
    width: 100%;
    text-underline-position: none;
}


/* Body Header Styles */
header> link-top {
    background-color: rgb(191, 68, 70);
    height: 40px;
}

body> header {
    display: block;
    float: left;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 0.9em;

}
body > link :visited {
    color: rgb(51, 51, 51);
}

body > link :non-visited {
    color: rgb(51, 51, 51);
}

body {
    color: rgb(255, 211, 211);
}

body {
    display: bottom-right;
}


/* DIV Container Styles */
body> div {
    padding-right: 8px;
    padding-bottom: 8px;
}   

div.cell, a {
    display: block;
    width: 100%;
    padding-left: 8px;
    padding-top: 8px;
}



/* Footer Styles */
footer{
    position: absolute;
    color: rgb(143, 33, 36);
    align-content: right;
    font-size: 2vmin;
}